<!-- Modal -->
<div
  class="modal fade"
  id="userTypeModal"
  tabindex="-1"
  aria-labelledby="userTypeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userTypeModalLabel">
          Selecciona tu tipo de usuario
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body text-center">
        <p>¿Cómo deseas registrarte?</p>
        <div class="d-grid gap-3">
          <a href="login-person" class="btn btn-primary">Soy Persona</a>
          <a href="signup-company" class="btn btn-secondary">Soy Empresa</a>
        </div>
      </div>
    </div>
  </div>
</div>
