.profile-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #f9f9f9;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  font-size: 0.9em;
  font-weight: bold;
}

.academic-formation-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.academic-formation {
  display: flex;
  gap: 1em;
  margin-bottom: 10px;
}

.year, .institution, .degree {
  flex: 1;
}

.year p, .institution p, .degree p {
  margin: 0;
  font-style: italic;
  color: #333;
}

.form-control-static {
  font-style: italic;
  color: #777;
  text-align: center;
}
