<div class="profile-container">
  <div class="profile-header">
    <h1>Editar Mi Perfil</h1>
    <a href="/profile">
      <app-custom-button label="Regresar"></app-custom-button>
    </a>
  </div>
<a href="/data2">Data-2</a>
    <!-- Foto de Perfil -->
    <app-profile-picture></app-profile-picture>
    <!-- Datos Personales -->
    <app-personal-data></app-personal-data>
    <!-- Experiencia -->
    <app-experience></app-experience>
    <!-- Sobre Mí -->
    <app-about-me></app-about-me>

</div>
