.profile-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #f9f9f9;
  text-align: center; /* Centrar el contenido del contenedor */
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra todo horizontalmente */
  position: relative; /* Permite posicionar el ícono independientemente */
  margin-bottom: 20px;
}

.profile-header h1 {
  margin: 0;
  font-size: 24px;
  text-align: center; /* Asegura el centrado del texto */
  flex: 1; /* Toma todo el espacio disponible */
}

.form-group {
  margin-bottom: 15px;
  text-align: left; /* Asegura que los elementos dentro no estén centrados */
}

label {
  font-size: 0.75em;
}

.form-control-static {
  padding: 0 25px;
  font-size: 1em;
  font-style: italic;
  color: #333;
  background-color: #f9f9f9;
}

app-custom-button {
  position: fixed;
  top: 25px;
  right: 25px;
}