.profile-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #f9f9f9;
  text-align: center; /* Centrar el contenido del contenedor */
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra todo horizontalmente */
  position: relative; /* Permite posicionar el ícono independientemente */
  margin-bottom: 20px;
}

.profile-header h1 {
  margin: 0;
  font-size: 24px;
  text-align: center; /* Asegura el centrado del texto */
  flex: 1; /* Toma todo el espacio disponible */
}

.form-group {
  margin-bottom: 15px;
  text-align: left; /* Asegura que los elementos dentro no estén centrados */
}

label {
  font-size: 0.75em;
}

.form-control-static {
  padding: 0 25px;
  font-size: 1em;
  font-style: italic;
  color: #333;
  background-color: #f9f9f9;
}

app-custom-button {
  position: fixed;
  top: 25px;
  right: 25px;
}

/* Contenedor de la foto de perfil */
.display-flex-center {
  display: flex;
  align-items: center; /* Alinear elementos verticalmente */
  justify-content: space-between; /* Espaciado entre los elementos */
  gap: 10px; /* Espaciado entre el label y la imagen */
  padding-bottom: 20px;
}

/* Estilo para el label */
.display-flex-center label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: 500;
  flex: 1; /* 1/4 del ancho total (aproximadamente, considerando la suma de las proporciones) */
  max-width: 25%; /* Limitar el ancho máximo a 25% del contenedor */
  text-align: left; /* Alinear el texto del label a la izquierda */
}

/* Estilo para la imagen */
.display-flex-center .profile-picture-preview {
  flex: 3; /* 3/4 del ancho total */
  max-width: 75%; /* Limitar el ancho máximo a 75% del contenedor */
  height: auto; /* Mantener la proporción de la imagen */
  object-fit: cover; /* Ajustar la imagen si es necesario */
  margin-left: auto; /* Separar la imagen del label */
  margin-top: 10px;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.display-flex-center {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  gap: 16px; /* Espaciado entre Año y Rol */
}

.year {
  flex: 0 0 25%; /* Ocupa 1/4 del ancho de la pantalla */
  text-align: left; /* Alinea el texto a la izquierda */
}

.role {
  flex: 1; /* Ocupa el espacio restante */
  text-align: left; /* Alinea el texto a la izquierda */
}

.description {
  margin-top: -20px;
}

.non-editable-text {
  white-space: pre-wrap; /* Permite que los saltos de línea se respeten */
  border: 1px solid #ccc; /* Opcional: agrega un borde similar a los formularios */
  padding: 10px; /* Opcional: agrega espacio interno */
  background-color: #f9f9f9; /* Opcional: fondo para distinguirlo */
  border-radius: 4px; /* Opcional: bordes redondeados */
}
