<app-sidebar></app-sidebar>
<div class="profile-container">
  <div class="profile-header">
    <h1>Mi Perfil</h1>
    <a href="/edit-profile">
      <app-custom-button label="Editar"></app-custom-button>
    </a>
  </div>

  <form>
    <app-profile-picture [currentUser]="currentUser"></app-profile-picture>
    <app-personal-data [currentUser]="currentUser"></app-personal-data>
    <app-experience [currentUser]="currentUser"></app-experience>
    <app-about-me [currentUser]="currentUser"></app-about-me>
    <app-academic-formation [currentUser]="currentUser"></app-academic-formation>
    <app-languages [currentUser]="currentUser"></app-languages>
    <app-skills [currentUser]="currentUser"></app-skills>

    <div class="line"></div>

    <div>
      <p>
        Componentes hecho: <br />
        <label for="">* Foto de Perfil</label><br />
        <label for="">* Datos de Contactos: Nombre, cedula, telefono, direccion</label><br />
        <label for="">* experiencias: año, Rol, Empresa, descripcion</label><br />
        <label for="">* Sobre mí</label><br />
        <label for="">* Educación: año, universidad, titulo</label><br />
        <label for="">* Idiomas: idioma, nivel, certificado</label><br />
        <label for="">* Habilidades</label><br />
      </p>
      <p>
        Componentes pendientes: <br />
        <label for="">* Referencias</label><br />
      </p>
    </div>
  </form>
</div>