header {
    padding: 20px;
    /* Espaciado interno */
    display: flex;
    justify-content: flex-end;
    /* Alinea los elementos al final (derecha) */
    align-items: center;
    /* Centra los elementos verticalmente */
}

section {
    margin-top: -2.5em;
}

app-custom-button {
    position: fixed;
    top: 25px;
    right: 25px;
}